.content {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    background: #66608fff;
}

.storeLabel {
    font-size: 0.9em;
    color: #bfc3ec;
    margin-bottom: 0.75rem;
    display: block;
}