.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.storeLabel {
    font-size: 0.75rem;
    color: #49b33d;
    margin-left: 1rem;
}