.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #333;
    background: #101a8a;
    color: gray;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    z-index: 1000;
}

.secondary {
    &:hover {
        background: rgb(188, 40, 40);
    }
}