.rightPanel {
    width: 200px;
    background: #7ec483ff;
    padding: 1rem;
    border-left: 1px solid #ccc;
}

.storeLabel {
    font-size: 0.9em;
    color: #cbf1c7;
    margin: 0.5rem 0;
    display: block;
}